<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>TurnoFlex</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/style/home.css">
</head>

<body>

<!-- TOP BAR -->
 <div class="top-bar">
  <img src="/style/logo.png" class="logo-img">
  <a href="/login" class="user-icon">👤</a>
</div>

<!-- TURNOS -->
<div class="schedule">

  <% for (const dia in turnosPorDia) { %>
  <div class="day-column">
    <div class="day-title">
      <%= new Date(dia).toLocaleDateString('es-AR', {
        weekday: 'long',
        day: 'numeric',
        month: 'numeric'
      }) %>
    </div>

    <% if (turnosPorDia[dia].length === 0) { %>
      <div class="slot ocupado">Sin horarios</div>
    <% } else { %>
      <% turnosPorDia[dia].forEach(turno => { %>
        <div class="slot <%= turno.estado === 'libre' ? 'libre' : 'ocupado' %>">
          <%= turno.turno.toString().substring(0,5) %> HS

        </div>
      <% }) %>
    <% } %>
  </div>
<% } %>

</div>

</body>
</html>
