<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>TurnoFlex</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/style/home.css">
</head>

<body>

<!-- TOP BAR -->
 <div class="logo-container">
        <img src="/style/logo.png" alt="Logo TurnoFlex" class="logo-img">
    </div>
<div class="top-bar">
 
  <a href="/login" class="user-icon">
    👤
  </a>
</div>

<!-- TURNOS -->
<div class="schedule">

  <% for (const dia in turnosPorDia) { %>
    <div class="day-column">

      <div class="day-title">
        <span class="day-name">
          <%= new Date(dia).toLocaleDateString('es-AR', { weekday: 'long' }) %>
        </span>
        <span class="day-date">
          <%= new Date(dia).toLocaleDateString('es-AR', { day: '2-digit', month: '2-digit' }) %>
        </span>
      </div>

      <div class="slots">
        <% turnosPorDia[dia].forEach(turno => { %>
          <div class="slot <%= turno.estado %>">
            <%= turno.turno %>:00 HS
          </div>
        <% }) %>
      </div>

    </div>
  <% } %>

</div>

</body>
</html>
